<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <title>个税计算器</title><style></style><link href=/static/css/app.5f415571341dcc3ef31f6c3714f91c8c.css rel=stylesheet>
</head>
<body>
    <div id=app></div>
    <script type=text/javascript src=/static/js/manifest.3ad1d5771e9b13dbdad2.js></script>
    <script type=text/javascript src=/static/js/vendor.97a4a7c9c0984149d764.js></script>
    <script type=text/javascript src=/static/js/app.be1dfe33ce091502404d.js></script>
</body>
</html>