<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <a href="http://12366.sc-l-tax.gov.cn/sso/login?service=%2Fsso%2Foauth2%2Fauthorize.do%3Fclient_id%3Dcnct%26response_type%3Dcode%26scope%3Dsnsapi_userinfo%26state%3Dlogin%26redirect_uri%3Dhttp%253A%252F%252Fwsbs.sc-n-tax.gov.cn%253A80%252Fskip%252Fnew_form_fpdk.html">
          <font size="8", color="red">
              发票代开
          </font>
      </a>
      <br>
      <a href="http://12366.sc-l-tax.gov.cn/sso/login?service=%2Fsso%2Foauth2%2Fauthorize.do%3Fclient_id%3Dcnct%26response_type%3Dcode%26scope%3Dsnsapi_userinfo%26state%3Dlogin%26redirect_uri%3Dhttp%253A%252F%252Fwsbs.sc-n-tax.gov.cn%253A80%252Fskip%252Findex.html">
          <font size="8", color="#8a2be2">
              申报征收
          </font>
      </a>
</body>
</html>